{
	"bracketSpacing": true,
	"singleQuote": false,
	"jsxBracketSameLine": false,
	"trailingComma": "none",
	"printWidth": 80,
	"parser": "babel",
	"overrides": [
		{
			"files": "esNextPaths",
			"options": {
				"trailingComma": "all"
			}
		}
	]
}